
* {
    font-family: 'Playfair Display SC', serif;

}
.jumbotron {
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;

}

body {
    text-align: center;
    background-color: whitesmoke;
}

h1,h2 {
    color: black;
}

.display-4 {
    font-size: 75px;
    color: #000000;
    border-bottom: 3px solid #grey;
    font-family: 'Playfair Display SC', serif;

}

