.jumbotron {
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;

}

body {
    text-align: center;
    background-color: grey;
}

h1,h2 {
    color: black;
}